<%= simple_form_for([@article, @article.comments.build], html: { class: ""} ) do |f| %>
<div class="ui form">
  <div class="field">
    <%= f.input :comment, input_html: { class: "textarea"}, 
    label_html: { class: "label"}, wrapper: false %>
  </div>
</div>
<br>
  <%= f.button :submit, class: "ui blue labeled submit icon button"%>
  <%= link_to "All articles", root_path, class: "ui orange button" %>
<% end %>

