/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "semantic-ui";

 .attached{
   background-color: #e6ecf0!important;
   margin-bottom: 40px!important;
 }
 .container .segment{
   margin-top: 30px;
 }
 .card{
   width: 100%!important;
 }
 .padd{
   padding: 40px;
 }

 .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  justify-items: center;
  align-items: center;
 }

 .grid .ui.text.container {
   max-width: 450px !important;
 }

 .grid .items .item {
   display: flex;
   flex-direction: row;
 }


 .ui.items {
   margin: 0 !important;
 }
 .ui .no-margin {
   margin: 0 !important;
 }