<div class="ui attached stackable menu">
    <div class="ui container">
      <%= link_to root_path, class: "item" do %>
      <i class="home icon"></i> Home
    <% end %>
     
      <div class="right item">
       
        <%= link_to new_article_path, class:"item" do %>
          <i class="paperclip icon"></i> New Article
        <%end%>
      </div>
    </div>
  </div>